In [2]:
import sys
sys.path.append("../") # Enables importing from parent directory
import fpl_draft_league.fpl_draft_league as fpl
import fpl_draft_league.utils as utils

In [5]:
matches_df = utils.get_data('matches')

In [6]:
matches_df

,event,finished,league_entry_1,league_entry_1_points,league_entry_2,league_entry_2_points,started,winning_league_entry,winning_method
0,1,True,197646,46,144429,43,True,None,None
1,1,True,199619,36,177091,30,True,None,None
2,1,True,361492,40,174967,30,True,None,None
3,1,True,405873,69,174291,51,True,None,None
4,1,True,173794,23,174248,68,True,None,None
5,2,True,144429,25,173794,24,True,None,None
6,2,True,174248,39,405873,31,True,None,None
7,2,True,174291,29,361492,36,True,None,None
8,2,True,174967,21,199619,37,True,None,None
9,2,True,177091,39,197646,31,True,None,None
10,3,True,199619,39,144429,27,True,None,None
11,3,True,361492,26,197646,43,True,None,None
12,3,True,405873,42,177091,21,True,None,None
13,3,True,173794,18,174967,47,True,None,None
14,3,True,174248,19,174291,37,True,None,None
15,4,True,144429,38,174248,29,True,None,None
16,4,True,174291,54,173794,23,True,None,None
17,4,True,174967,63,405873,42,True,None,None
18,4,True,177091,34,361492,42,True,None,None
19,4,True,197646,33,199619,42,True,None,None
20,5,True,361492,30,144429,20,True,None,None
21,5,True,405873,58,199619,23,True,None,None
22,5,True,173794,41,197646,39,True,None,None
23,5,True,174248,41,177091,52,True,None,None
24,5,True,174291,30,174967,40,True,None,None
25,6,True,144429,32,174291,39,True,None,None
26,6,True,174967,80,174248,37,True,None,None
27,6,True,177091,19,173794,33,True,None,None
28,6,True,197646,24,405873,31,True,None,None
29,6,True,199619,59,361492,20,True,None,None
...,...,...,...,...,...,...,...,...,...
160,33,False,144429,0,174291,0,False,None,None
161,33,False,174967,0,174248,0,False,None,None
162,33,False,177091,0,173794,0,False,None,None
163,33,False,197646,0,405873,0,False,None,None
164,33,False,199619,0,361492,0,False,None,None
165,34,False,405873,0,144429,0,False,None,None
166,34,False,173794,0,361492,0,False,None,None
167,34,False,174248,0,199619,0,False,None,None
168,34,False,174291,0,197646,0,False,None,None
169,34,False,174967,0,177091,0,False,None,None
170,35,False,144429,0,174967,0,False,None,None
171,35,False,177091,0,174291,0,False,None,None
172,35,False,197646,0,174248,0,False,None,None
173,35,False,199619,0,173794,0,False,None,None
174,35,False,361492,0,405873,0,False,None,None
175,36,False,177091,0,144429,0,False,None,None
176,36,False,197646,0,174967,0,False,None,None
177,36,False,199619,0,174291,0,False,None,None
178,36,False,361492,0,174248,0,False,None,None
179,36,False,405873,0,173794,0,False,None,None
180,37,False,197646,0,144429,0,False,None,None
181,37,False,199619,0,177091,0,False,None,None
182,37,False,361492,0,174967,0,False,None,None
183,37,False,405873,0,174291,0,False,None,None
184,37,False,173794,0,174248,0,False,None,None
185,38,False,144429,0,173794,0,False,None,None
186,38,False,174248,0,405873,0,False,None,None
187,38,False,174291,0,361492,0,False,None,None
188,38,False,174967,0,199619,0,False,None,None
189,38,False,177091,0,197646,0,False,None,None